@model IEnumerable<Webbanraucu_Ass.Models.Roles>

@{
    ViewData["Title"] = "Danh sách quyền";
    Layout = "~/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Chức vụ</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var iteam in Model)
                {
                    <tr>
                        <th scope="row">@iteam.RoleID>
                        <td>@iteam.RoleName</td>
                        <td>@iteam.Description</td>
                        <td>
                            <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Details" asp-route-id="@iteam.RoleID">View</a>
                            <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@iteam.RoleID">Edit</a>
                            <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Delete" asp-route-id="@iteam.RoleID">Delete</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
