@model Webbanraucu_Ass.Models.Products

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Thông Tin Chi Tiết Sản Phẩm</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sản phẩm : @Model.ProductName</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.ProductID</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td>@Model.ProductName</td>
                    </tr>
                    <tr>
                        <td>Mô tả:</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Giá bán:</td>
                        <td>@Model.Price</td>
                    </tr>

                    <tr>
                        <td>Danh mục:</td>
                        <td>@Model.Categories.CatName</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.DateCreat</td>
                    </tr>
                    <tr>
                        <td>Ngày chỉnh sửa:</td>
                        <td>@Model.DateModifier</td>
                    </tr>
                    <tr>
                        <td>Mô tả ngắn:</td>
                        <td>@Model.SortDesc</td>
                    </tr>

                    <tr>
                        <td>
                            Ảnh đại diện:
                            <img width="200" height="200" src="~/images/products/@Model.Hinhanh" alt="Anh" />
                        </td>
                    </tr>
                    <tr>
                        <td>Mô tả sản phẩm:</td>
                        <td>@Model.Description</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

